<a href="https://colab.research.google.com/github/hassantariq64/crud/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
nltk.download('stopwords')
import numpy as np
import pandas as pd
from sklearn import preprocessing 
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split,KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import matplotlib
from matplotlib import pyplot as plt
#import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format= 'retina'

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
data = pd.read_csv ("Corona_NLP_test.csv")

In [3]:
sw= stopwords.words('english')
np.array(sw)

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [9]:
def stopwords(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    return " ".join(text)

In [10]:
def stopwords(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    return " ".join(text)

In [16]:
data['text']= data['Sentiment'].apply(stopwords)
data[['UserName', 'Sentiment','text']]

      UserName           Sentiment                text
0            1  Extremely Negative  extremely negative
1            2            Positive            positive
2            3  Extremely Positive  extremely positive
3            4            Negative            negative
4            5             Neutral             neutral
...        ...                 ...                 ...
3793      3794            Positive            positive
3794      3795            Negative            negative
3795      3796             Neutral             neutral
3796      3797  Extremely Negative  extremely negative
3797      3798  Extremely Positive  extremely positive

[3798 rows x 3 columns]

In [17]:
stemmer = SnowballStemmer('english')
def stemming(text):
    text= [stemmer.stem(word) for word in text. split()]
    return " ".join(text)

In [18]:
data['text'] = data['text'].apply(stemming)
data.head()

   UserName  ScreenName  ...           Sentiment          text
0         1       44953  ...  Extremely Negative  extrem negat
1         2       44954  ...            Positive         posit
2         3       44955  ...  Extremely Positive  extrem posit
3         4       44956  ...            Negative         negat
4         5       44957  ...             Neutral       neutral

[5 rows x 7 columns]